body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-decoration: none
    display: flex;
    
}

.container {
    display: flex;
    flex-direction: row;
    background: #3a3633;
    color: white
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

a {
    color: inherit;
    text-decoration: none;
}

.middle {
    padding: 10px 50px 10px 50px;
}

.apple {
    padding: 10px 50px 10px 200px;
}

.TV {
    padding: 10px 200px 10px 50px;
}

a:hover {
    opacity: 50%;
    transiton: 0.2s;
    transition-timing-function: ease-in-out;
}


