body {
    background: #3a3633;
    color: white;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-decoration: none
    display: flex;
    
}

.container {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.nav > a {
    

}
padding
background-color
align-items
justify-content
color
margin
font-family
text-decoration
transition
display
opacity
:hover