body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.header {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;   
    box-shadow: 0 4px 6px 2px #ddd;
}

.registration-form {
    border: solid lightgrey;
    border-radius: 10px;
    margin: 20px 70px;
    padding: 20px;
}

.text-field {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #0096fb;
    margin: 10px auto;
    display: block;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.radio-label,
.checkbox-label {
    text-align: left;
    margin: 10px;
    margin-left: 0;

}

label {
    font-size: 1rem;
    display: block;
    text-align: center;
    
}

.section {
    margin-top: 10px;
    border-top: 1px solid lightgrey;
}

.section > label {
    text-align: left;
}

select {
    font-size: 1rem;
    margin-left: 10px;
}

textarea {
    display: block;
    width: 100%;
    background-color: lightgrey;
    border: 0;
    font-size: 1rem;
    min-height: 100px;
    margin-top: 10px;

}

.form-button {
    display: block;
    padding: 18px 40px;
    font-size: 1rem;
    border: 1px solid #0096fb;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 20px auto;
}


.form-button:hover {
    background-color: blue;
    color: white;
}
