Body {
margin: 0;
font-family: 'Poppins', sans-serif;
}

.bar {
color: white;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
height: 40px;
}

.container {
min-height: 100vh;
display: flex;
flex-direction: column;
}

.content {
display: flex;
align-items: center;
justify-content: center;
}


.main {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
}
